:root {
  --primary-color: #ed7ac0;
}

/* loader */

.loading,
.loading body {
  height: 100%;
  width: 100%;
}

.loading body {
  display: flex;
  flex-direction: row;
}

#loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

#loader,
#loader:before,
#loader:after {
  animation: loader 1s infinite ease-in-out;
  -webkit-animation: loader 1s infinite ease-in-out;
  background: var(--primary-color);
  height: 15px;
  width: 2em;
  border-radius: 8px;
}

#loader {
  animation-delay: -0.16s;
  -webkit-animation-delay: -0.16s;
  position: relative;
  color: var(--primary-color);
  font-size: 6px;
  text-indent: -9999em;
  transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

#loader:before {
  animation-delay: -0.32s;
  -webkit-animation-delay: -0.32s;
  left: -3em;
}

#loader:after {
  animation-delay: 0.08s;
  -webkit-animation-delay: 0.08s;
  left: 3em;
}

#loader:before,
#loader:after {
  position: absolute;
  top: 0;
  content: '';
}

/* header */

header {
  padding: 16px;
}

#header-actions {
  padding-top: 10px;
}

/* main */

main {
  width: 960px;
  margin: 0 auto;
  padding: 50px 0;
}

.row {
  display: flex;
  flex: 1;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.col > div:nth-child(1) {
  height: 50px;
  font-size: 15px;
}

.col > div:nth-child(2) {
  font-size: 22px;
  display: flex;
  justify-content: flex-end;
}

.chart-container {
  margin-top: 20px;
}

.chart-heading {
  margin-top: 20px;
}

.chart-toggle-buttons {
  margin-top: 20px;
  display: flex;
  border: 1px solid #eee;
  border-radius: 4px;
}

.chart-toggle-buttons > div {
  padding: 5px 8px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chart-toggle-buttons > div:not(:last-child) {
  border-right: 1px solid #eee;
}

.chart-toggle-buttons .active {
  background: #eee;
}

.chart {
  margin-top: 20px;
  /* 
  height: 350px;
  max-width: 350px;
  */
}

#connect-wallets {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#connect-wallets > div {
  width: 300px;
  background-color: white;
  z-index: 100;
  padding: 10px;
  right: -326px;
  top: calc(-100% - 10px);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#connect-wallets h3 {
  margin-bottom: 10px;
}

#connect-wallets > div > div {
  display: flex;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
}

#connect-wallets > div > div:hover {
  opacity: 0.8;
}

#connect-wallets img {
  margin-right: 10px;
}

#connect-wallets .close {
  position: absolute;
  top: -5px;
  right: -30px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  #network-label {
    margin-right: 5px;
  }

  main {
    padding-top: 30px;
    width: auto;
  }

  .row {
    flex-direction: column;
  }

  .col,
  .chart-container {
    margin: 10px !important;
  }
}
