@font-face {
  font-family: 'GT-America-Extended-Bold';
  src: url(/fonts/GT-America-Extended-Bold.woff);
}

@font-face {
  font-family: 'GT-America-Regular';
  src: url(/fonts/GT-America-Regular.woff);
}

@font-face {
  font-family: 'GT-America-Compressed-Regular';
  src: url(/fonts/GT-America-Compressed-Regular.woff);
}
